body {

    
}

#container {
    background: #9582e6;
    border: 64px #ffffff solid;
    height: 62vh;
    width: 76%;
    margin: 0 auto;
    
}
@media only screen and (max-width: 600px) {
    #container {
      width:68%;
    }
  }

.sign {
    margin: 58px;
    border: 1vw solid black;
    width: 61%;
    transform: translateX(-19%);
}

.sign h1 {
    font-family: 'Montserrat';
    font-size: 6vw;
    padding: 3% 3% 4% 5%;
    line-height: 6vw;
    margin: 1%;
}
body {
    margin: 0;
    padding: 0;
    
    justify-content: center;
    align-items: center;
    
  }
  .black {
      background-color: pink !important;
  }
  .loader {
    width: 140px;
    height: 20px;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
    
  }
  .loader:before {
    content: attr(data-text);
    position: relative;
    top: -58px;
    color: #fff;
    width: calc(100% + 27px);
    font-size: 4em;
    text-decoration-style: wavy;
    text-decoration-color: black;
    text-decoration-line: underline;
    animation: animate .7s linear infinite;
  }
  .loader1 {
    width: 140px;
    height: 20px;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
    margin-top: 3%;
    
  }
  .loader1:before {
    content: attr(data-text);
    position: relative;
    top: -58px;
    color: #fff;
    width: calc(100% + 27px);
    font-size: 4em;
    text-decoration-style: wavy;
    text-decoration-color: black;
    text-decoration-line: underline;
    animation: animate .7s linear infinite;
  }
  @keyframes animate {
    0% {
      left: -3px;
    }
    100% {
      left: -30px;
    }
  }

  #submit {
    z-index: 99;
    position: fixed;
    right: 1%;
    display: flex;
    align-items: center;
    height: 100%;
    color: #111;
    width: 29%;
    height: 40px;
    /* margin: 2%; */
    border: none;
    outline: none;
    float: right;
    background: no-repeat;
    font: 15px 'poppins';
    font-weight: 600;
    cursor: pointer;
    transform: rotate(90deg);
    /* transform-origin: center; */
    display: \; float: r;
    padding: 0% 2% 3% 3%;
  }
